<!DOCTYPE html>
<html>

<body>

    <h2 id="objet"> {{object}} </h2>

    <p id="text"> Bonjour {{name}} {{firstname}} </p>

    <p id="content">{{content}}</p>

    <button type="button" onclick="loadMessageByid(1)">Click Me!</button>



    <script>
        var client = require('controllers/config/database.mjs');
        function loadMessageByid(id) {
            client.query(`select id, object, content, senddate, sentdate, sendhour, senthour, idstate, idlist, idmodel from message where id = ${id}`, (err, result) => {
                if (err) {
                    return console.error('error running query', err)
                }
                if (result.rowCount == 0) {
                    return console.error(`Pas de message`)
                }
                const res = result.rows[0]
                console.log(res)
                document.getElementById("objet").innerHTML = id
            })
        }
    </script>

</body>

</html>